*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*-Header-*/
header{
    background: #191515;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

.logo{
    width: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 5em;
}

.logo_imagen{
    width: 4em;
}


.nav{
   width: 40%;
   margin: auto;
}

.nav_menu{
    display: none;
}

.nav_checkbox{
    display: none;
}

.nav_ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}




.nav_li--a{
    text-decoration: none;
    color: #ffffff;
}

.nav_li--a:hover{
    text-decoration: none;
    color: #c74e1a;
}
/*-----------------------Fondo------------------*/



.fondo{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}


.fondo_img{
    margin: auto;
    margin-left: 10rem;
    margin-top: 5rem;
     
  }

.fondo_img--img{
    transform: rotate(-30deg);
    width: 45vw;
    
}

.fondo_texto{
    margin: auto;
    margin-top: 20rem;
    
}

.fondo_texto--p{
  
    font-size: 3em;
    color: #ffffff;
    
}

.fondo_boton{
    margin-top: 3em;
    
}

.fondo_boton--a{
    background: #ebba34;
    text-decoration: none;
    margin: 9em 8em;
    margin-top: 150px;
    color: #ffffff;
    padding: 1em 2em;
    font-size: 1.2vw;
}

.fondo_boton--a:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin: 9em 8em;
    margin-top: 150px;
    color: #ffffff;
    padding: 1em 2em;
    
}

/*--------Nuestros productos------------*/

.section_productos{
    width: 100%;
    background: #191515;
    color: #ffffff;
}
   

.section_h2{
    padding-top: 1em;
    font-size: 2em;
    text-align: center;
}

.section_contenedor--productos{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    margin: auto;
    
}

.section_contenedor--productos-img{
    background: #473f3e;
    width: 26em;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}

.section_contenedor--a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--productos-img1{
    background: none;
    width: 20em;
    
      
}

.section_contenedor--productos-img2{
    background: none;
    width: 20em;
    
}

.section_contenedor--productos-img3{
    background: none;
    width: 20em;
    
}

.section_contenedor--productos-img4{
    background: none;
    width: 20em;
    
}



/*--------Testimonios------------*/

.testimonios{
    background: #191515;
    color: #ffffff;
    padding-bottom: 3em;
}

.testimonios_h2{
    padding-top: 3em;
    font-size: 2em;
    text-align: center;
}

.testimonios_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.testimonios_img--img{
    width: 9vw;
    height: 17vh;
    border-radius: 50%;
}

.testimonios p{
    width: 50%;
    padding-top: 2em;
    margin: auto;
}

/*--------Footer------------*/

footer{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/Megadeth.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.footer_desplegable{
    display: none;
}

.footer_contenedor{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-top: 2em;
    width: 80%;
    margin: auto;
    gap: 1.8em;
}

.footer_logo{

  width: 80%;
    
}

.footer_logo p{
    color: #87968c;
}

.footer_categorias{
    display: grid;
    grid-template-columns: 1fr;
    
}



.footer_categorias a{
    text-decoration: none;
    color: #87968c;
    
}

.footer_categorias a:hover{
    text-decoration: none;
    color: #c74e1a;
}

.footer_siguenos{
    height: 20vh;
    padding-right: 10em;

}



.footer_info{
    height: 20vh;
    padding-right: 10em;

}

.footer_info p{
    color: #87968c;
}

.footer_p{
    clear: both;
    text-align: center;
    padding-top: 3.4em;
} 

/*----------------------------------------------------------------GUITARRAS------------------------------------------------------------------------*/

/*-----------------------Fondo------------------*/

.fondoGuitar{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/megadeth3.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    
}

.fondoGuitar_img{
  padding-top: 6em;
  padding-left:4em;
  display: flex;
  flex-direction: row;
  width: 30%;
}

.fondoGuitar_img--img1{
    width: 50vw;
    height: 70vh;
}

.fondoGuitar_img--img2{
    width: 50vw;
    height: 70vh;
}


.fondoGuitar_texto{
    margin-top: 25em;
    margin-left: 35em;
   
   
    
}

.fondoGuitar_texto--p{
   
    font-size: 3em;
    color: #ffffff;
    
}



/*--------guitarras------------*/
.section_guitarras{
    width: 100%;
    background: #191515;
    color: #ffffff;
    padding-bottom: 2em;
}
   

.section_guitarras--h2{
    padding-top: 2em;
    font-size: 2em;
    text-align: center;
}

.section_contenedor-guitarras{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-direction: column;
    
}

.section_contenedor-guitarras--1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section_contenedor--img{
    background: #473f3e;
    width: 26em;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}

.section_contenedor--a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--img1{
    background: none;
    width: 20em;
    
      
}

.section_contenedor--img2{
    background: none;
    width: 20em;
    
}

.section_contenedor--img3{
    background: none;
    width: 20em;
    
}

.section_contenedor--img4{
    background: none;
    width: 20em;
    
}


/*----------------------------------------------------------------BAJOS------------------------------------------------------------------------*/


.fondoBass{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/cliff.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    
}

.fondoBass_img{
  padding-top: 4em;
  padding-left:4em;
  display: flex;
  flex-direction: row;
  width: 30%;
}

.fondoBass_img--img1{
    width: 50vw;
    height: 70vh;
}



.fondoBass_texto{
    margin-top: 25em;
    margin-left: 25em;
   
    
}

.fondoBass_texto--p{
   
    font-size: 3em;
    color: #ffffff;
    
}



/*--------bajos------------*/
.section_bajos{
    width: 100%;
    background: #191515;
    color: #ffffff;
    padding-bottom: 2em;
}
   

.section_bajos--h2{
    padding-top: 2em;
    font-size: 2em;
    text-align: center;
}

.section_contenedor-bajos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-direction: column;
    
}

.section_contenedor-bajos--1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section_contenedor--bajos-img{
    background: #473f3e;
    width: 26em;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}

.section_contenedor--bajos-a{
    font-size: 1.8vw;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--bajos-a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--bajos-img1{
    background: none;
    width: 20em;
    
      
}

.section_contenedor--bajos-img2{
    background: none;
    width: 20em;
    
}

.section_contenedor--bajos-img3{
    background: none;
    width: 20em;
    
}



.section_contenedor--bajos-img4{
    background: none;
    width: 20em;
    
}



/*----------------------------------------------------------------NOSOTROS-------------------------------------------------------------------------*/


.fondo_nosotros{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fondo_nosotros-img{
    display: flex;
}

.fondo_nosotros-img--img1{
    width: 23em;
    height: 36em;
    
}

.fondo_nosotros-img--img2{
    width: 30em;
    height: 38em;
}

.fondo_nosotros-texto{
    padding-top: 20em;
   
}

.fondo_nosotros-texto--p1{
    font-size: 2em;
}

.fondo_nosotros-texto--p2{
    font-size: 3em;
}

/*--------NOSOTROS------------*/

.section_nosotros{
    background: #191515;
    margin: auto;
    color: #87968c;
}

.section_nosotros-contenedor{
    width: 70%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.section_nosotros-contenedor--h2{
    text-align: center;
    color: #000000;
}

/*----------------------------------------------------------------CONTACTO-------------------------------------------------------------------------*/

/*--------contacto------------*/
.section_contacto--desplegable{
    display: none;
}

.section_contacto{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    margin-top: 3em;
   
}

.section_contacto--contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.section_contacto--info{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.section_contacto--info a{
    text-decoration: none;
    color: #000000;
  
}

.formulario_icon{
    width: 1em;
    height: 1em;
}

form{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section_formulario{
    width: 30vw;
    height: 5vh;
    font-size: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.section_formulario--textarea{
    width: 30vw;
    height: 15vh;
    font-size: 1em;
    margin-bottom: 1em; 
    padding-left: 1em;
}

.section_formulario--enviar{
    background: #ebba34;
    font-size: 1em;
    width: 13vw;
    height: 8vh;
}

.section_formulario--enviar:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    font-size: 1em;
    width: 13vw;
    height: 8vh;
}

/*----------------------------------------------------------------MEDIA 1------------------------------------------------------------------------*/
@media(max-width:1350px){

    .fondo{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 65vh;
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        
    }

    
    .section_contenedor--producto{
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
        margin: auto;
        
    }
    
    .section_contenedor--productos-img{
        background: #473f3e;
        width: 23vw;
        height: 20em;
        margin: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #c74e1a;
        padding-bottom: 1em;
        
    }

    .section_contenedor--productos-img1{
        background: none;
        width: 22vw;
        
          
    }
    
    .section_contenedor--productos-img2{
        background: none;
        width: 22vw;
        
    }
    
    .section_contenedor--productos-img3{
        background: none;
        width: 22vw;
        
    }
    
    .section_contenedor--productos-img4{
        background: none;
        width: 22vw;
        
    }
    

    .footer_contenedor{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 2em;
        width: 90%;
        margin: auto;
        gap: 1.8em;
    }


     /*----------------------------------------------------------------GUITARRAS------------------------------------------------------------------------*/


/*-----------------------section guitarras------------------*/

.section_guitarras{
    width: 100%;
    
}

.section_contenedor-guitarras{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    
}


.section_contenedor-guitarras--1{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;

}

.section_contenedor--img{
    background: #473f3e;
    width: 23vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}



.section_contenedor--a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--img1{
    background: none;
    width: 22vw;
    
      
}

.section_contenedor--img2{
    background: none;
    width: 22vw;
    
}

.section_contenedor--img3{
    background: none;
    width: 22vw;
    
}

.section_contenedor--img4{
    background: none;
    width: 22vw;
    
}

/*----------------------------------------------------------------BAJOS------------------------------------------------------------------------*/


/*-----------------------section bajoss------------------*/

.section_bajos{
    width: 100%;
    
}

.section_contenedor-bajos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    
}


.section_contenedor-bajos--1{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;

}

.section_contenedor--bajos-img{
    background: #473f3e;
    width: 23vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}



.section_contenedor--bajos-a{
    font-size: 2vw;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--bajos-a:hover{
    color: #c74e1a;
    
}




.section_contenedor--bajos-img1{
    background: none;
    width: 22vw;
    
      
}

.section_contenedor--bajos-img2{
    background: none;
    width: 22vw;
    
}

.section_contenedor--bajos-img3{
    background: none;
    width: 22vw;
    
}

.section_contenedor--bajos-img4{
    background: none;
    width: 22vw;
    
}

/*------------------------------------------------------------------NOSOTROS--------------------------------------------------*/
.fondo_nosotros{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.fondo_nosotros-img{
    display: flex;
}


.fondo_nosotros-img--img1{
    width: 30vw;
    height: 40vh;
    
}

.fondo_nosotros-img--img2{
    width: 38vw;
    height: 42vh;
}

.fondo_nosotros-texto{
    padding-top: 20em;
   
}

.fondo_nosotros-texto--p1{
    font-size: 2em;
}

.fondo_nosotros-texto--p2{
    font-size: 3em;
}

    
    /*----------------------------------contacto----------------------------*/
    .section_formulario{
        width: 40vw;
        height: 5vh;
        font-size: 2vw;
        margin-bottom: 1em;
        
    }
    
    .section_formulario--textarea{
        width: 40vw;
        height: 15vh;
        font-size: 2vw;
        margin-bottom: 1em; 
        padding-left: 1em;
    }
    
}


/*----------------------------------------------------------------MEDIA 2------------------------------------------------------------------------*/
@media(max-width:1250px){

    .fondo_texto{
        margin: auto;
        margin-top: 20rem;
        
    }
    
    .fondo_texto--p{
      
        font-size: 4vw;
        color: #ffffff;
        
    }

    .fondo_boton--a{
        background: #ebba34;
        text-decoration: none;
        margin: 9em 8em;
        margin-top: 150px;
        color: #ffffff;
        padding: 1em 2em;
        font-size: 1.4vw;
    }
    
    .fondo_boton--a:hover{
        background: #6e5512;
        border: 2px solid #ebba34;
        text-decoration: none;
        margin: 9em 8em;
        margin-top: 150px;
        color: #ffffff;
        padding: 1em 2em;
        
    }

    footer{
        background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/Megadeth.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        color: #ffffff;
    }

    .footer_contenedor{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 2em;
        width: 90%;
        margin: auto;
        gap: 1.8em;
    }
    

    

    
    
    .footer_categorias{
        display: flex;
        flex-direction: column;
        
    }
    
    .footer_categorias h3{
        padding-bottom: 1.5rem;
        
    }
    
    
    
    
    .footer_info{
        height: 20vh;
        padding-right: 10em;
    
    }
    
    .footer_info p{
        color: #87968c;
    }
    
    .footer_p{
        clear: both;
        text-align: center;
        padding-bottom: 0.5rem;
    } 
    
    
}



/*----------------------------------------------------------------MEDIA 3------------------------------------------------------------------------*/
@media(max-width:1100px){

 

    
    .section_contenedor--productos{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
        margin: auto;
    }

    .section_contenedor--productos-img{
        background: #473f3e;
        width: 45vw;
        height: 20em;
        margin: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #c74e1a;
        padding-bottom: 1em;
    }

 



    


    
    .footer_contenedor{
        display: none;
    }

    
    .footer_desplegable{
        margin: auto;
        width: 90%;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    details{
        background-color: rgba(0, 0, 0 , 0.6);
        display: block;
        padding: 1em;
        cursor: pointer;
        margin-bottom: 2px;
        
    }
    
    summary{
        padding-bottom: 1rem;
    }
    
    .acordeon_siguenos--logo{
        width: 4em;
        
    }
    
    .footer_desplegable--categorias{
        display: flex;
        flex-direction: column;
    }
    
    .footer_desplegable--categorias a{
        text-decoration: none;
        color: #ffffff;
    }
    
    .footer_p{
        width: 90%;
    }



    /*----------------------------------------------------------------GUITARRAS------------------------------------------------------------------------*/

/*-----------------------Fondo------------------*/

.fondoGuitar{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/megadeth3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}


.fondoGuitar_img{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
}

.fondoGuitar_img--img1{
    width: 50vw;
    height: 40vh;
    
}

.fondoGuitar_img--img2{
    width: 43vw;
    height: 40vh;
}

.fondoGuitar_texto{
    margin: auto;
    
}

.fondoGuitar_texto--p{
    font-size: 6vw;
}

/*-----------------------section guitarras------------------*/

.section_guitarras{
    width: 100%;
    
}

.section_contenedor-guitarras{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    
}


.section_contenedor-guitarras--1{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;

}

.section_contenedor--img{
    background: #473f3e;
    width: 23vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}



.section_contenedor--a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--img1{
    background: none;
    width: 22vw;
    
      
}

.section_contenedor--img2{
    background: none;
    width: 22vw;
    
}

.section_contenedor--img3{
    background: none;
    width: 22vw;
    
}

.section_contenedor--img4{
    background: none;
    width: 22vw;
    
}

/*-----------------------------------------------------bajos--------------------------------------------------*/
/*-----------------------section guitarras------------------*/

.section_bajos{
    width: 100%;
    
}

.section_contenedor-bajos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    
}


.section_contenedor-bajos--1{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;

}

.section_contenedor--bajos-img{
    background: #473f3e;
    width: 23vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}



.section_contenedor--bajos-a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--bajos-a:hover{
    color: #c74e1a;
    
}



.section_contenedor--bajos-img1{
    background: none;
    width: 22vw;
    
      
}

.section_contenedor--bajos-img2{
    background: none;
    width: 22vw;
    
}

.section_contenedor--bajos-img3{
    background: none;
    width: 22vw;
    
}

.section_contenedor--bajos-img4{
    background: none;
    width: 22vw;
    
}


/*------------------------------------------------------------------NOSOTROS--------------------------------------------------*/
.fondo_nosotros{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.fondo_nosotros-img{
    display: flex;
}


.fondo_nosotros-img--img1{
    width: 28vw;
    height: 36vh;
    
}

.fondo_nosotros-img--img2{
    width: 36vw;
    height: 38vh;
}

.fondo_nosotros-texto{
    padding-top: 20em;
   
}

.fondo_nosotros-texto--p1{
    font-size: 2em;
}

.fondo_nosotros-texto--p2{
    font-size: 3em;
}


    
    /*-----------------------------------contacto----------------------------*/
    .section_formulario{
        width: 40vw;
        height: 5vh;
        font-size: 2vw;
        margin-bottom: 1em;
        
    }
    
    .section_formulario--textarea{
        width: 40vw;
        height: 15vh;
        font-size: 2vw;
        margin-bottom: 1em; 
        padding-left: 1em;
    }
    
    .section_formulario--enviar{
        background: #ebba34;
        font-size: 1.7vw;
        width: 13vw;
        height: 8vh;
    }
    
    .section_formulario--enviar:hover{
        background: #6e5512;
        border: 2px solid #ebba34;
        font-size: 1.7vw;
        width: 13vw;
        height: 8vh;
    }
    
}




/*----------------------------------------------------------------MEDIA 4------------------------------------------------------------------------*/
@media(max-width:950px){
    /*-----------------------Fondo------------------*/



.fondo{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 75vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    
    
}



.fondo_img{
    margin: auto;
    margin-left: 6rem;
    margin-top: 5rem;
     
  }

.fondo_img--img{
    transform: rotate(-30deg);
    width: 65vw;
    
}

.fondo_texto--contenedor{
    margin: auto;
    margin-top: 0.2rem;
}

.fondo_texto{
    
    margin-top: 10rem;
    
}

.fondo_texto--p{
     
    font-size: 5vw;
    color: #ffffff;
    
}

.fondo_boton{
    margin-top: 1rem;
    width: 100%;
}

.fondo_boton--a{
    background: #ebba34;
    text-decoration: none;
    margin: 9em 8em;
    margin-top: 150px;
    color: #ffffff;
    padding: 1em 2em;
    font-size: 1.8vw;
}

.fondo_boton--a:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin: 9em 8em;
    margin-top: 150px;
    color: #ffffff;
    padding: 1em 2em;
    
}


.section_contenedor--productos{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    margin-top: 2em;
  
}

/*------------------------------------------------------------------BAJOS-----------------------------------------------*/
.fondoBass{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/cliff.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}



.fondoBass_img--img1{
    width: 40vw;
    height: 50vh;
}



.fondoBass_texto{
   
   margin-left: 15rem;
    
}

.fondoBass_texto--p{
   
    font-size: 3.7vw;
    color: #ffffff;
    
}



}




/*----------------------------------------------------------------MEDIA TABLET------------------------------------------------------------------------*/
@media(max-width:860px){

    .logo{
        width: 90%;
        margin-left: 0;
  
    }

    .nav{
        display: flex;
        justify-content: flex-end;
    }

    .nav_menu{
        display: block;
        cursor: pointer;
    }

    .nav_ul{
        position: fixed;
        top: 84px;
        bottom: 0;
        background: #936c6c;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        z-index: 10;
    }

    .nav_li{
      height: 4vh;
    }
    

    .nav_checkbox:checked + .nav_ul{
        clip-path: circle(100% at center);
    }


    .section_contenedor--productos{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-top: 2em;
        margin: auto;
        
    }
    
    .section_contenedor--productos-img{
        background: #473f3e;
        width: 45vw;
        height: 20em;
        margin: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #c74e1a;
        padding-bottom: 1em;
    }

    .section_contenedor--productos-img1{
        width: 35vw;
    }

    .section_contenedor--productos-img2{
        width: 35vw;
    }

    .section_contenedor--productos-img3{
        width: 35vw;
    }

    .section_contenedor--productos-img4{
        width: 35vw;
    }


    /*----------------------------------------------------------------GUITARRAS------------------------------------------------------------------------*/

/*-----------------------Fondo------------------*/

.fondoGuitar{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/megadeth3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}


.fondoGuitar_img{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
}

.fondoGuitar_img--img1{
    width: 50vw;
    height: 40vh;
    
}

.fondoGuitar_img--img2{
    width: 43vw;
    height: 40vh;
}

.fondoGuitar_texto{
    margin: auto;
    
}

.fondoGuitar_texto--p{
    font-size: 6vw;
}

/*-----------------------section guitarras------------------*/

.section_guitarras{
    width: 100%;
    
}

.section_contenedor-guitarras{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
}


.section_contenedor-guitarras--1{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;

}

.section_contenedor--img{
    background: #473f3e;
    width: 45vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}



.section_contenedor--a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--img1{
    background: none;
    width: 40vw;
    
      
}

.section_contenedor--img2{
    background: none;
    width: 40vw;
    
}

.section_contenedor--img3{
    background: none;
    width: 40vw;
    
}

.section_contenedor--img4{
    background: none;
    width: 40vw;
    
}

/*----------------------------------------------------------------BAJOS------------------------------------------------------------------------*/


.fondoBass{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/cliff.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    
}

.fondoBass_img{
    width: 80%;
}

.fondoBass_img--img1{
    width: 50vw;
    height: 40vh;
}



.fondoBass_texto{
    margin: auto;
}

.fondoBass_texto--p{
   
    font-size: 5vw;
    color: #ffffff;
    
}


/*-----------------------section bajos------------------*/


.section_bajos{
    width: 100%;
   
}

.section_contenedor-bajos{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
}


.section_contenedor-bajos--1{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;

}

.section_contenedor--bajos-img{
    background: #473f3e;
    width: 45vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}


.section_contenedor--bajos-a{
    font-size: 3vw;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--bajos-a:hover{
    color: #c74e1a;
}

.section_contenedor--bajos-img1{
    background: none;
    width: 40vw;
    
      
}

.section_contenedor--bajos-img2{
    background: none;
    width: 40vw;
    
}

.section_contenedor--bajos-img3{
    background: none;
    width: 40vw;
    
}

.section_contenedor--bajos-img4{
    background: none;
    width: 40vw;
    
}

/*------------------------------------------------------------------NOSOTROS--------------------------------------------------*/
.fondo_nosotros{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.fondo_nosotros-img{
    display: flex;
}


.fondo_nosotros-img--img1{
    width: 23vw;
    height: 36vh;
    
}

.fondo_nosotros-img--img2{
    width: 30vw;
    height: 38vh;
}

.fondo_nosotros-texto{
    padding-top: 20em;
   
}

.fondo_nosotros-texto--p1{
    font-size: 2em;
}

.fondo_nosotros-texto--p2{
    font-size: 3em;
}


    /*--------------------------------------------contacto-----------------------*/

.section_contacto{
    display: none;
   
}

.section_contacto--contenedor{
    display:none;
}


.section_contacto--desplegable{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    font-size: 1.5em;
    margin-top: 1em;
    
}

.section_contacto--contenedor-desplegable{
    width: 90%;
    margin: auto;
   
}

.section_despegable--info{
    display: none;
}


.details{
    background: #ffffff;
}

.formulario_icon{
    width: 1em;
    height: 1em;
}

form{

    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
}



.section_despegable{
    width: 80%;
    height: 5vh;
    font-size: 2vw;
    margin-bottom: 1em;
    
}

.section_despegable--textarea{
    width: 80%;
    height: 15vh;
    font-size: 2vw;
    margin-bottom: 1em; 
  
}

.section_despegable--enviar{
    background: #ebba34;
    font-size: 1.5vw;
    width: 15vw;
    height: 6vh;
}


 
    
}


/*----------------------------------------------------------------MEDIA TABLET 2------------------------------------------------------------------------*/
@media(max-width:700px){
    .fondo{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr;
        
        
    }
    
    
    
    .fondo_img{
        margin: auto;
        margin-left: 6rem;
        margin-top: 5rem;
         
      }
    
    .fondo_img--img{
        transform: rotate(-30deg);
        width: 80vw;
        
    }
    
    .fondo_texto--contenedor{
      
        margin: auto;
        margin-top: 0.2rem;
    }
    
    .fondo_texto{
        
        margin-top: 10rem;
        
    }
    
    .fondo_texto--p{
         
        font-size: 8vw;
        color: #ffffff;
        
    }
    
    .fondo_boton{
        margin-top: 1rem;
        width: 100%;
    }
    
    .fondo_boton--a{
        background: #ebba34;
        text-decoration: none;
        margin: 9em 8em;
        margin-top: 150px;
        color: #ffffff;
        padding: 1em 2em;
        font-size: 1.8vw;
    }
    
    .fondo_boton--a:hover{
        background: #6e5512;
        border: 2px solid #ebba34;
        text-decoration: none;
        margin: 9em 8em;
        margin-top: 150px;
        color: #ffffff;
        padding: 1em 2em;
        
    }
}













/*----------------------------------------------------------------MEDIA CELULAR------------------------------------------------------------------------*/
@media(max-width:500px){

    header{
        background: #191515;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        height: 10vh;   
        flex-direction: row;
        
    }
    
    .logo{
        width: 90%;
        margin-left: 0;
  
    }
    
    .logo_imagen{
        width: 4em;
    }

    .titulo_h1{
        font-size: 7vw;
    }

    
    
    .nav{
        display: flex;
        justify-content: flex-end;
    }


    .nav_menu{
        display: block;
        cursor: pointer;
    }

    .nav_ul{
        position: fixed;
        top: 84px;
        bottom: 0;
        background: #936c6c;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        z-index: 10;
    }

    .nav_li{
      height: 4vh;
    }
    

    .nav_checkbox:checked + .nav_ul{
        clip-path: circle(100% at center);
    }

  

    .nav_li--a{
        text-decoration: none;
        color: #ffffff;
    }
    
    .nav_li--a:hover{
        text-decoration: none;
        color: #c74e1a;
    }

    /*-----------------------------Fondo--------------------------*/

    .fondo{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    .fondo_img{
      margin: auto;
      padding-top: 5em;
      
      
    }
    
    .fondo_img--img{
        transform: rotate(-30deg);
        width: 90vw; 
        z-index: 0;
        
    }
    
    .fondo_texto{
        display: flex;
        flex-direction: row;
        margin-top: 10em;
        margin-left: 0; 
        width: 100%; 
        justify-content: center;
        align-items: center;
    }
    
    .fondo_texto--p{
        font-size: 10vw;
        color: #ffffff;
    }
    
    .fondo_boton{
        margin-top: 3em;
    }
    
    .fondo_boton--a{
        background: #ebba34;
        text-decoration: none;
        margin: 9em 8em;
        margin-top: 150px;
        color: #ffffff;
        padding: 1em 2em;
        font-size: 3vw;
    }
    
    .fondo_boton--a:hover{
        background: #6e5512;
        border: 2px solid #ebba34;
        text-decoration: none;
        margin: 9em 8em;
        margin-top: 150px;
        color: #ffffff;
        padding: 1em 2em;
        
    }


    /*---------------------------Nuestros productos----------------------*/

.section_productos{
    width: 100%;
    background: #191515;
    color: #ffffff;
}
   

.section_h2{
    padding-top: 0.5em;
    font-size: 2em;
    text-align: center;
}

.section_contenedor--productos{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin-top: 2em;
    overflow-x: auto;
    justify-content: flex-start;
    
}

.section_contenedor--productos-img{
    background: #473f3e;
    width: 70vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}

.section_contenedor--a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--productos-img1{
   
    width: 60vw;
    
      
}

.section_contenedor--productos-img2{
   
    width: 60vw;
    
}

.section_contenedor--productos-img3{
    
    width: 60vw;
    
}

.section_contenedor--productos-img4{

    width: 60vw;
    
}

/*--------------------------Testimonios---------------------*/

.testimonios{
    background: #191515;
    color: #ffffff;
    padding-bottom: 3em;
}

.testimonios_h2{
    padding-top: 1em;
    font-size: 2em;
    text-align: center;
}

.testimonios_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.testimonios_img--img{
    width: 25vw;
    height: 17vh;
    border-radius: 50%;
}

.testimonios p{
    width: 80%;
    padding-top: 2em;
    margin: auto;
}

/*----------------------------Footer--------------------*/



footer{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/Megadeth.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #ffffff;

}

.footer_contenedor{
    display: none;
}

.footer_desplegable{
    margin: auto;
    width: 90%;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

details{
    background-color: rgba(0, 0, 0 , 0.6);
    display: block;
    padding: 1em;
    cursor: pointer;
    margin-bottom: 2px;
    
}

summary{
    padding-bottom: 1rem;
}

.acordeon_siguenos--logo{
    width: 4em;
    
}

.footer_desplegable--categorias{
    display: flex;
    flex-direction: column;
}

.footer_desplegable--categorias a{
    text-decoration: none;
    color: #ffffff;
}

.footer_p{
    width: 90%;
}



/*----------------------------------------------------------------GUITARRAS------------------------------------------------------------------------*/

/*-----------------------Fondo------------------*/

.fondoGuitar{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/megadeth3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}


.fondoGuitar_img{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
}

.fondoGuitar_img--img1{
    width: 50vw;
    height: 40vh;
    
}

.fondoGuitar_img--img2{
    width: 43vw;
    height: 40vh;
}

.fondoGuitar_texto{
    margin: auto;
    
}

.fondoGuitar_texto--p{
    font-size: 6vw;
}

/*-----------------------section guitarras------------------*/

.section_guitarras{
    width: 100%;

}

.section_contenedor-guitarras{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.section_contenedor-guitarras--1{
    display: grid;
    grid-template-columns: 1fr;

}

.section_contenedor--img{
    background: #473f3e;
    width: 45vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}



.section_contenedor--a{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--a:hover{
    color: #c74e1a;
    
}

.section_contenedor--precio{
    font-size: 2em;
    
}


.section_contenedor--cart{
    background: #ebba34;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3em;
    padding: 1em 2em;
}

.section_contenedor--cart:hover{
    background: #6e5512;
    border: 2px solid #ebba34;
    text-decoration: none;
    margin-top: 3em;
    color: #ffffff;
    padding: 1em 2em;
    
}

.section_contenedor--img1{
    background: none;
    width: 40vw;
    
      
}

.section_contenedor--img2{
    background: none;
    width: 40vw;
    
}

.section_contenedor--img3{
    background: none;
    width: 40vw;
    
}

.section_contenedor--img4{
    background: none;
    width: 40vw;
    
}






/*----------------------------------------------------------------BAJOS------------------------------------------------------------------------*/


.fondoBass{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/cliff.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    
}

.fondoBass_img{
    width: 80%;
}

.fondoBass_img--img1{
    width: 50vw;
    height: 40vh;
}



.fondoBass_texto{
    margin: auto;
}

.fondoBass_texto--p{
   
    font-size: 5vw;
    color: #ffffff;
    
}


/*-----------------------section bajos------------------*/

.section_bajos{
    width: 100%;
   
}

.section_contenedor-bajos{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.section_contenedor-bajos--1{
    display: grid;
    grid-template-columns: 1fr;

}



.section_contenedor--bajos-img{
    background: #473f3e;
    width: 45vw;
    height: 20em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c74e1a;
    padding-bottom: 1em;
    
}


.section_contenedor--bajos-a{
    font-size: 5vw;
    color: #ffffff;
    text-decoration: none;
    
}

.section_contenedor--bajos-a:hover{
    color: #c74e1a;
    
}



.section_contenedor--precio{
    font-size: 2em;
    
}




.section_contenedor--bajos-img1{
    background: none;
    width: 40vw;
    
      
}

.section_contenedor--bajos-img2{
    background: none;
    width: 40vw;
    
}

.section_contenedor--bajos-img3{
    background: none;
    width: 40vw;
    
}

.section_contenedor--bajos-img4{
    background: none;
    width: 40vw;
    
}





/*----------------------------------------------------------------NOSOTROS-------------------------------------------------------------------------*/


.fondo_nosotros{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 62vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.fondo_nosotros-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding-top: 2rem;
}

.fondo_nosotros-img--img1{
    width: 50vw;
    height: 40vh;
    
}

.fondo_nosotros-img--img2{
    width: 43vw;
    height: 40vh;
}

.fondo_nosotros-texto{
    padding-top: 2em;
    text-align: center;
   
}

.fondo_nosotros-texto--p1{
    font-size: 1.5em;
}

.fondo_nosotros-texto--p2{
    font-size: 3em;
}

/*--------NOSOTROS------------*/

.section_nosotros{
    background: #191515;
    margin: auto;
    color: #87968c;
}

.section_nosotros-contenedor{
    width: 70%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.section_nosotros-contenedor--h2{
    text-align: center;
    color: #000000;
}

/*----------------------------------------------------------------CONTACTO-------------------------------------------------------------------------*/

/*--------contacto------------*/

.section_contacto{
    display: none;
   
}

.section_contacto--contenedor{
    display:none;
}


.section_contacto--desplegable{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    font-size: 1.5em;
    margin-top: 1em;
   
}

.section_contacto--contenedor-desplegable{
    width: 90%;
    margin: auto;
   
}

.section_despegable--info{
    display: none;
}


.details{
    background: #ffffff;
}

.formulario_icon{
    width: 1em;
    height: 1em;
}

form{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section_despegable{
    width: 100%;
    height: 5vh;
    font-size: 5vw;
    margin-bottom: 1em;
    
}

.section_despegable--textarea{
    width: 100%;
    height: 15vh;
    font-size: 5vw;
    margin-bottom: 1em; 
  
}

.section_despegable--enviar{
    background: #ebba34;
    font-size: 5vw;
    width: 50vw;
    height: 8vh;
}



    
}